<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner QR</title>
    <link rel="stylesheet" th:href="@{/css/style-admin/style-admin-dashboard.css}">
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>
<input type="checkbox" id="toggle-sidebar" />
<header>
    <div class="head-box">
        <!-- Checkbox caché -->
        <label for="toggle-sidebar">
            <div  id="menu">
                <img th:src="@{/images/menu-burger.png}">
            </div>
        </label>
        <h2>Scanner Code Qr</h2>
    </div>
</header>
<section th:replace="student/student-dashboard :: sidebar">
</section>
<main class="center-wrapper">
<div id="reader"></div>
<p id="result"></p>
</main>

<script>
    const html5QrCode = new Html5Qrcode("reader");

    let isScanning = true;

    function onScanSuccess(decodedText) {

        if (!isScanning) return;
        isScanning = false;

        html5QrCode.stop().then(() => {

            window.location.href =
                "/api/qr/scan?code=" + encodeURIComponent(decodedText);
        });
    }

    Html5Qrcode.getCameras().then(devices => {
        if (!devices || devices.length === 0) {
            console.error("Aucune caméra détectée");
            return;
        }

        html5QrCode.start(
            { facingMode: "environment" },
            { fps: 10, qrbox: 250 },
            onScanSuccess
        );
    });
</script>

</body>
</html>