<!DOCTYPE html>
<html lang="fr"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style-admin/style-admin-dashboard.css}">
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>
<input type="checkbox" id="toggle-sidebar" />
<header>
    <div class="head-box">
        <!-- Checkbox caché -->

        <label for="toggle-sidebar">
            <div  id="menu">
                <img th:src="@{/images/menu-burger.png}">
            </div>
        </label>
        <h2 th:text="'Bienvenue cher Etudiant ' + ${fullname}"></h2>
    </div>
</header>
<section class="icons" th:fragment="sidebar">
    <div class="text-menu">
        <h2>
            Menu
        </h2>
    </div>

    <div class="icons-option">
        <div class="icon-container">
            <a th:href="@{/student/dashboard}">
                <img th:src="@{/images/home.png}" width="20">

                <span class="tooltip">Dashboard</span>
            </a>
        </div>
        <div class="icon-container">
            <a th:href="@{/student/profile}">
                <img th:src="@{/images/user (1).png}" width="20">

                <span class="tooltip">Profil</span>
            </a>
        </div>
        <div class="icon-container">
            <a th:href="@{/student/timetable}">
                <img th:src="@{/images/calendar-clock (1).png}" width="20">


                <span class="tooltip">Emploi du temps </span>
            </a>
        </div>
        <div class="icon-container">

            <label for="toggle-sidebar" class="close-btn">
                <img th:src="@{/images/grid.png}" width="20">

                <span class="tooltip">Espace </span>
            </label>
        </div>
        <div class="icon-container">

            <label for="toggle-sidebar" class="close-btn">
                <img th:src="@{/images/cross-small.png}" width="20">

                <span class="tooltip">Fermer </span>
            </label>
        </div>
    </div>
</section>
<main class="center-wrapper">
    <h2 class="separator">Menu Etudiant</h2>
    <section class="grid">

        <div class="option" style="background: linear-gradient(135deg, #4f8cff, #6ea8fe);">
            <a th:href="@{/student/timetable}">

                <img th:src="@{/images/academic-years.png}">
                <p> Emploi du temps</p>
            </a>
        </div>
        <div class="option" id="scan-button" style="background: linear-gradient(135deg, #7b61ff, #9b8cff);">
            <a th:href="@{/student/scanner}">

            <img th:src="@{/images/qr-code.png}" alt="QR CODE">
                <p>Scanner Code</p>
            </a>
        </div>
        <div class="option" style="background-color: rgba(22, 123, 205, 0.532);">
            <a th:href="@{/student/absences}">
                <img th:src="@{/images/absent.png}" alt="Absences">

                <p>Vos absences</p>
            </a>
        </div>
        </section>
        <h2 class="separator">Menu Admnistratif </h2>
        <section class="grid">
        <div class="option" style="background-color: rgb(113, 113, 230);">
            <a th:href="@{/student/profile}">

                <img th:src="@{/images/user-profile.png}" alt="Profil">
                <p>Profil </p>
            </a>
        </div>
        <div class="option" style="background: linear-gradient(135deg, #4f8cff, #6ea8fe);">
            <a th:href="@{/logout}">

                <img th:src="@{/images/power-off.png}" alt="Deconnexion">
                <p>Deconnexion </p>
            </a>
        </div>
        </section>


</main>
</body>


</html>