<!DOCTYPE html>
<html lang="fr"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Absences par Departement</title>
    <link rel="stylesheet" th:href="@{/css/style-admin/style-admin-dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/style-admin/style-admin-filiere-absence.css}">
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
</head>
<body>
<input type="checkbox" id="toggle-sidebar" />
<header>
    <div class="head-box">
        <!-- Checkbox caché -->

        <label for="toggle-sidebar">
            <div  id="menu">

                <img th:src="@{/images/menu-burger.png}">


            </div>
        </label>
        <h2>Consultation des Absences  </h2>
    </div>
</header>

<section th:replace="admin/admin-dashboard :: sidebar">

</section>
<main class="center-container">

    <section class="list-department">
        <div class="departement-title">
            <h3>DEPARTEMENTS</h3>
        </div>
        <div class="departments">
            <div class="departement">
                <a th:href="@{/filieres/departements/MAT}">
                <div class="dep-header">

                    <img th:src="@{/images/inline-right-svgrepo-com.svg}">
                    <h3>Mathématiques</h3>

                </div>
                </a>

            </div>
            <div class="departement">
                <a th:href="@{/filieres/departements/INF}">
                <div class="dep-header">

                    <img th:src="@{/images/inline-right-svgrepo-com.svg}">
                    <h3>Informatique</h3>

                </div>
                </a>
            </div>
            <div class="departement">
                <a th:href="@{/filieres/departements/SV}">
                <div class="dep-header">

                    <img th:src="@{/images/inline-right-svgrepo-com.svg}">
                    <h3>Sciences de la vie</h3>

                </div>
                </a>
            </div>
            <div class="departement">
                <a th:href="@{/filieres/departements/CHI}">
                <div class="dep-header">

                    <img th:src="@{/images/inline-right-svgrepo-com.svg}">
                    <h3>Chimie</h3>

                </div>
                </a>
            </div>
            <div class="departement">
                <a th:href="@{/filieres/departements/PHY}">
                <div class="dep-header">

                    <img th:src="@{/images/inline-right-svgrepo-com.svg}">
                    <h3>Physique</h3>

                </div>
                </a>
            </div>
            <div class="departement">
                <a th:href="@{/filieres/departements/ST}">
                <div class="dep-header">

                    <img th:src="@{/images/inline-right-svgrepo-com.svg}">
                    <h3>Sciences de la terre</h3>
                </div>
                </a>
            </div>
        </div>
    </section>
    <section class="list-field">
        <h3 class="departement-title">
            DEPARTEMENT INFORMATIQUE
        </h3>
        <div class="field-title">Licence </div>
        <div class="field-bachelor">

            <div class="field-container" th:each="licence : ${licences}">

                <div class="field">
                    <h3 th:text="${licence.code}"></h3>
                    <h4 th:text="${licence.libelle}"></h4>
                    <img th:src="@{/images/bachelor (1).png}">
                </div>

                <div class="level-panel">
                    <h3>Niveau</h3>

                    <div class="level-wrapper">
                        <div class="level-card">Licence 1</div>
                    </div>

                    <div class="level-wrapper">
                        <div class="level-card">Licence 2</div>
                    </div>

                    <div class="level-wrapper">
                        <div class="level-card">Licence 3</div>
                    </div>

                </div>

            </div>

        </div>
        <div class="field-title">Master</div>
        <div class="field-master">

            <div class="field-container" th:each="master : ${masters}">

                <div class="field">
                    <h3 th:text="${master.code}"></h3>
                    <h4 th:text="${master.libelle}"></h4>
                    <img th:src="@{/images/degree (1).png}">
                </div>

                <div class="level-panel">
                    <h3>Niveau</h3>

                    <div class="level-wrapper">
                        <div class="level-card">Master 1</div>
                    </div>

                    <div class="level-wrapper">
                        <div class="level-card">Master 2</div>
                    </div>

                </div>

            </div>

        </div>


    </section>

</main>
<script>
    document.querySelectorAll(".field-container").forEach(container => {

     const field = container.querySelector(".field");
     const panel = container.querySelector(".level-panel");

     field.addEventListener("click", (e) => {
         e.stopPropagation();

         // fermer les autres
         document.querySelectorAll(".level-panel").forEach(p => {
             if (p !== panel) p.classList.remove("active");
         });

         panel.classList.toggle("active");
     });
 });

 // fermer si clic dehors
 document.addEventListener("click", () => {
     document.querySelectorAll(".level-panel").forEach(p => {
         p.classList.remove("active");
     });
 });

 // groupes
 document.querySelectorAll(".level-wrapper").forEach(wrapper => {

     const card = wrapper.querySelector(".level-card");
     const panel = wrapper.querySelector(".group-panel");

     card.addEventListener("click", (e) => {
         e.stopPropagation();

         document.querySelectorAll(".group-panel").forEach(p => {
             if (p !== panel) p.classList.remove("active");
         });

         panel.classList.toggle("active");
     });
 });
</script>

</body>
</html>