<!DOCTYPE html>
<html lang="fr"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Absences par Departement</title>
    <link rel="stylesheet" th:href="@{/css/style-admin/style-departement-absence.css}">
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
</head>
<body>
<input type="checkbox" id="toggle-sidebar" />
<header>
    <div class="head-box">
        <!-- Checkbox caché -->

        <label for="toggle-sidebar">
            <div  id="menu">

                <img th:src="@{/images/menu-burger.png}">


            </div>
        </label>
        <h2>Consultation des Absences  </h2>
    </div>
</header>

<section th:replace="admin/admin-dashboard :: sidebar">

</section>
<main class="center-wrapper">
    <h2 class="separator">Absences par Departement</h2>
    <section class="grid">

        <div class="option">
            <a th:href="@{/filieres/departements/MAT}">
            <p>Mathématiques</p>
            <img th:src="@{/images/mathématiques.jpg}">
            </a>
        </div>
        <div class="option" >
            <a th:href="@{/filieres/departements/INF}">
            <p> Informatique</p>
            <img th:src="@{/images/informatique.jpg}">
            </a>
        </div>
        <div class="option" >
            <a th:href="@{/filieres/departements/SV}">
            <p>Biologie </p>
            <img th:src="@{/images/sciencedelavie.jpg}">
            </a>
        </div>
        <div class="option">
            <a th:href="@{/filieres/departements/CHI}">
            <p>Chimie</p>
            <img th:src="@{/images/chimie.jpg}">
            </a>
        </div>
        <div class="option">
            <a th:href="@{/filieres/departements/PHY}">
            <p>Physique</p>
            <img th:src="@{/images/physique.jpg}">
            </a>
        </div>
        <div class="option">
            <a th:href="@{/filieres/departements/ST}">
            <p>Geologie </p>
            <img th:src="@{/images/sciencedelaterre.jpg}">
            </a>
        </div>
    </section>
    <h2 class="separator">Absences par Departement </h2>
    <section class="grid">
    </section>
</main>
<script>

</script>

</body>
</html>