<section class="option-clicked" th:fragment="option-clicked">
  <div class="title-bloc">
    <img th:src="@{/images/password-manager.png}">
    <span>Changer le mot de passe</span>
  </div>
  <form th:action="@{/professor/edit-my-profile/update/password}" method="post">

    <div class="info-input">
      <label for="old-password" class="label-ext">Ancien mot de passe</label>
      <input id="old-password" class="input" type="password" required name="oldPassword">
    </div>
    <div class="generals-info">
      <div class="info-input">
        <label for="nouv-pass">Nouvel mot de passe</label>
        <input id="nouv-pass" class="input" type="password" required name="newPassword">
      </div>
      <div class="info-input">
        <label for="conf-pass">Confirmation mot de passe</label>
        <input id="conf-pass" class="input" type="password" required name="confPassword">
      </div>
    </div>
    <section class="buttons">
      <button class="reset" type="reset">Reinitialiser</button>
      <button class="submit" type="submit">Envoyer</button>
    </section>
  </form>
</section>