<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
    <link rel="stylesheet" th:href="@{/css/style-login/style-login.css}">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css">

</head>
<body>
<form class="login-box" method="post" th:action="@{/reset-password}">

    <section class="left-block">
        <div class="presentation">
            <h2>Premiere Connexion </h2>
            <h3> Étudiant/Ancien Étudiant/Enseignant/Administration/<br>
                Entreprise</h3>

        </div>
        <div class="inputs">
            <div class="input">
                <input type="hidden" name="token" value="${token}">

                <input type="password" name="newPassword" placeholder="Nouveau mot de passe" required />
            </div>
        </div>
        <div th:if="${error}" class="alert">
            <span th:text="${error}"></span>
        </div>
        <div th:if="${message}" class="alert">
            <span th:text="${message}"></span>
        </div>

        <div class="others">
            <button type="submit" class="connect">Changer mot de passe</button>
        </div>
    </section>

    <section class="right-block">

    </section>

</form>
<style>
    .right-block
{
    background: url("/images/login_box_bg.png");
    position: absolute;

    right: 0;
    height: 520px;
    width: 451px;
}
</style>
</body>
</html>